# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Customized exclusion if you're using Visual Studio Code.
.vscode/*

# It's recommended to build the project in an out-of-source way, by default under renderer/build
# and client/build.
renderer/build/*
